:root {
  --basic-text-color: #212121;
  --secondary-text-color: #757575;
  --accented-text-color: #2196f3;
  --icon-color: #afb1b8;
}
body {
  font-family: Roboto, sans-serif;
  color: #212121;
  letter-spacing: 0.03em;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  /* background-color: tomato; */
}
h1,
h2,
h3,
p {
  margin-bottom: 0;
  margin-top: 0;
}
ul,
li {
  padding: 0;
  margin: 0;
}
img {
  display: block;
}
/* navigation sec  */
.top {
  border-bottom: 1px solid #eeeeee;
}
header {
  background-color: #ffffff;
}
ul {
  list-style: none;
}
.container.head {
  display: flex;
  align-items: center;
}
.logo {
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  line-height: 1.19;
}
.panel-nav > .logo {
  margin-right: 93px;
}
.web {
  color: var(--accented-text-color);
}
.studio {
  color: #000000;
}
.panel-nav .link.current {
  color: var(--accented-text-color);
}
.panel-nav {
  display: flex;
  align-items: center;
}
.nav-item {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  cursor: pointer;
}
.nav-item li {
  position: relative;
}
.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accented-text-color);
}
.nav-item li:not(:first-child) {
  margin-left: 50px;
}
.nav-item a {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: inherit;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-item a.current {
  color: var(--accented-text-color);
}
.nav-item a:hover,
.nav-item a:focus {
  color: var(--accented-text-color);
}
.nav-contact {
  display: flex;
  margin-left: auto;
}
.nav-contact li:not(:first-child) {
  margin-left: 50px;
}
.nav-contact a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  cursor: pointer;
  fill: var(--secondary-text-color);
  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.con-icon {
  margin-right: 10px;
}
.nav-contact a:hover,
.nav-contact a:focus {
  color: var(--accented-text-color);
  fill: var(--accented-text-color);
}
.mail a,
.telephone a {
  display: flex;
  align-items: center;
}

/* hero */

.basic-theme {
  margin: 0 auto;
  max-width: 1600px;
  text-align: center;
  justify-content: center;
  background-color: #2f303a;
  padding-top: 0px;
  padding-bottom: 0px;
}
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  max-width: 696px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.back {
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(7, 48, 58, 0.4),
      rgba(7, 48, 58, 0.4)
    ),
    url(../img/hero.jpg);
  background-position: center;
}
/* all button */

.button.one {
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #ffffff;
  background-color: var(--accented-text-color);
  border: 0px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button.one:hover,
.button.one:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.button-port {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: var(--basic-text-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-port:hover,
.button-port:focus {
  color: #ffffff;
  background-color: var(--accented-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* peculiarities */
.pec-list {
  display: flex;
}

.pec-item:not(:last-child) {
  margin-right: 30px;
}

.pec-head {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.pec-parag {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}
.pec-icon-block {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 270px; */
  height: 120px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}
.pec-icon {
  width: 70px;
  height: 70px;
}
/* what we do */
.section.wwd {
  padding-top: 0;
}
.wwd-list {
  display: flex;
}
.wwd-item:not(:last-child) {
  margin-right: 30px;
}
.wwd-card {
  position: relative;
}
.wwd-meta {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}
.wwd-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
/* team */
.team-list {
  display: flex;
}
.team {
  background-color: #f5f4fa;
}
.team-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}
.team-card {
  padding-top: 30px;
  padding-bottom: 30px;
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.position {
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.soc-media {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.soc-media-item:not(:last-child) {
  margin-right: 10px;
}
.link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: none;
  background-color: #ffffff;
  fill: var(--icon-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-icon:hover,
.link-icon:focus {
  background-color: var(--accented-text-color);
  fill: #ffffff;
}

/* regular clients */
.client-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.client-list {
  display: flex;
}
.client-item:not(:last-child) {
  margin-right: 30px;
}
.client-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  fill: var(--icon-color);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link:hover,
.client-link:focus {
  fill: var(--accented-text-color);
  border-color: var(--accented-text-color);
  cursor: pointer;
}

/* portfolio-page */
.filter {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
.filter-item:not(:last-child) {
  margin-right: 8px;
}
/* our project */
.our-project {
  display: flex;
  flex-wrap: wrap;
}
.project-item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  background: #ffffff;
}
.project-item:nth-child(3n) {
  margin-right: 0;
}
.project-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.project-info {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.name-project {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--basic-text-color);
}
.product {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.project-link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-card {
  position: relative;
  overflow: hidden;
}
.project-meta {
  position: absolute;
  padding: 63px 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  opacity: 0;
  pointer-events: none;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-link:hover .project-meta,
.project-link:focus .project-meta {
  transform: translateY(0);
  opacity: 1;
  pointer-events: all;
}
/* footer sec */
footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
}
.footer-sec > .logo {
  display: inline-block;
  margin-bottom: 20px;
}
.studio-footer {
  color: #ffffff;
}
address {
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.connection-list {
  margin-top: 9px;
}
.conn-item.fone {
  margin-top: 9px;
}
.conn-item a {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.conn-item a:focus,
.conn-item a:hover {
  color: var(--accented-text-color);
}
.connection {
  display: flex;
  align-items: baseline;
}
.join {
  margin-left: 70px;
}
.join-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.join .link-icon {
  background: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join .link-icon:hover,
.join .link-icon:focus {
  background: var(--accented-text-color);
}
.join-form {
  margin-left: auto;
}
.subscribe-box {
  display: flex;
  margin-top: 20px;
}
.subscribe {
  display: inline-block;
  background-color: inherit;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}
.subscribe::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  background-color: var(--accented-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
}
.subscribe-icon {
  fill: #fff;
  margin-left: 10px;
}
/* modal window */

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transform: scale(1.2);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
  opacity: 0;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 581px;
  width: 528px;
  padding: 40px;
  background-color: #fff;
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close:hover,
.button-close:focus {
  fill: var(--accented-text-color);
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.form-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--basic-text-color);
}
.input-box {
  position: relative;
  display: flex;
  flex-direction: column;
}
.input-box + .input-box {
  margin-top: 10px;
}
.modform-input {
  width: 448px;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px
}
.input-box:focus-within > .modform-input {
  border-color: var(--accented-text-color);
  outline: none;
}
.input-box:focus-within > .modform-icon {
  fill: var(--accented-text-color);
}
.in-title {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}
.input-box + .input-box {
  margin-top: 10px;
}
.textarea {
  height: 120px;
  resize: none;
  margin-bottom: 20px;
  padding: 12px 16px;
}
.agreement {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.agree-txt {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.icon-box-nochecked {
  display: flex;
  align-items: center;
  margin-right: 7px;
}
.agree-doc {
  color: var(--accented-text-color);
}
.chekbox-field {
  text-align: center;
  margin-bottom: 30px;
}
.icon-box-checked {
  position: absolute;
  top: 4.5px;
  left: 0;
  display: flex;
  align-items: center;
  opacity: 0;
}
.checked-icon {
  fill: var(--accented-text-color);
}
.agreement:checked ~ .icon-box-checked {
  opacity: 1;
}
.agreement:checked ~ .icon-box-nochecked {
  opacity: 0;
}
.send-btn {
  width: 200px;
  height: 50px;
  margin: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #fff;
  background-color: var(--accented-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.send-btn:hover {
  background: #188ce8;
  cursor: pointer;
}
.modform-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
}
